/*
    Header Style
*/
.top-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  position: relative;
  z-index: 1001;
  top: 0;
  min-height: 72px;
  width: 100vw;
  background-color: #FFF;
  transition: all 0.1s ease-out;
  padding: 16px 64px;
  white-space: nowrap;
}

.top-nav .logo {
  max-width: 240px;
}

.top-nav .logo img {
  width: 100%;
}

.top-nav_actions {
  display: flex;
  flex-direction: row;
}
