.user {
  display: flex;
  flex-direction: row;
}

.user .button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  color: #222;
  font-size: 16px;
  outline: none;
  padding: 0 16px;
  transition: background-color 0.1s ease-out;
}

.user .button:hover {
  color: #0099e5;
}

.user .button.signup {
  border-color: #222;
  border-radius: 16px;
  border-width: 2px;
  border-style: solid;
}

.user .user_account, .user .user_link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 24px;
  transition: all 0.1s ease-out;
}

.user .user_link:hover {
  background-color: #0099e5;
  fill: #fff;
}

.user .user_account img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.user .button.upload {
  height: 46px;
  padding: 0 28px;
  border-color: #222;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
}

.user .button.upload svg {
  margin-right: 10px;
}

.user .button.upload:hover {
  background: #0099e5;
  color: #fff;
  border-color: #0099e5;
}

.user .button.upload:hover svg {
  stroke: #fff;
  fill: #fff;
  color: #fff;
}
