.comments_wrapper {
  display: flex;
  flex-direction: column;
}
.comments_wrapper .title {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: bold;
  text-transform: none;
  color: rgb(34, 34, 34);
  margin: 0px 0px 24px;
}
.comments_wrapper_list {
  display: flex;
  flex-direction: column;
}
.comment_card {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}
.comment_card .author_avatar {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-right: 10px;
}
.comment_card .author_avatar img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
.comment_card .comment {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.comment_card .comment .author {
  position: relative;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: rgb(34, 34, 34);
  text-decoration: none;
  transition: color 0.1s ease 0s;
}
.comment_card .comment .text {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  text-transform: none;
  color: rgb(34, 34, 34);
  margin: 0px;
}
.comment_card.time {
  padding: 0 0 0 10px;
}

.comment_form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  label {
    margin-bottom: 5px;
  }
  .input_wrapper {
    display: flex;
    justify-content: space-between;
  }
  input:first-child {
    border-radius: 15px;
    padding: 8px;
    border: 1px solid #00000040;

  }

  button {
    background-color: #ffffff00;
    border: none;
    font-size: 1.5em;
  }
}
