<div class="upload_modal_wrapper">
  <div class="upload_modal">
    <div class="upload_modal_title">
      Création de compte
    </div>
    <form [formGroup]="accountForm" (ngSubmit)="creation()">
      <div class="upload_modal_content">
        <div class="input_wrapper">
          <label for="firstname">Firstname</label>
          <input id="firstname" type="text" formControlName="firstname" />
        </div>
        <div class="input_wrapper">
          <label for="lastname">Lastname</label>
          <input id="lastname" type="text" formControlName="lastname" />
        </div>
        <div class="input_wrapper">
          <label for="email">Email</label>
          <input id="email" type="email" formControlName="email" required />
          <div
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert"
          >
            <div *ngIf="email.errors.email">
              Invalid email
            </div>
            <div *ngIf="email.errors.required">
              Email is required
            </div>
          </div>
        </div>
        <div class="input_wrapper">
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            formControlName="password"
            required
          />
          <div
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="alert"
          >
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters long
            </div>
            <div *ngIf="password.errors.required">
              Password is required
            </div>
          </div>
        </div>
        <div class="input_wrapper">
          <label for="avatarUrl">Avatar url</label>
          <input id="avatarUrl" type="url" formControlName="avatarUrl" />
        </div>
        <div class="input_wrapper">
          <label for="description">Description</label>
          <textarea id="description" type="text" formControlName="description" rows="4"></textarea>
        </div>
        <div class="actions">
          <input class="button valider" type="submit" />
          <input
            class="button cancel"
            value="Annuler"
            (click)="connectToAccountForm()"
          />
        </div>
      </div>
    </form>
  </div>
</div>
<div class="overlay"></div>
