<div class="container">
  <h2>
    Conversations
  </h2>
  <div class="conversation" *ngFor="let conversation of conversationsArray">
    <app-conversation [conversation]="conversation" [userLogged]="user"></app-conversation>
    <div class="hr" *ngIf="conversation !== conversationsArray[conversationsArray.length - 1]">
      <hr />
    </div>
  </div>
</div>
<button class="mdc-fab" aria-label="Favorite">
  <div class="mdc-fab__ripple"></div>
  <span class="mdc-fab__icon material-icons">favorite</span>
</button>
