<div class="container">
  <h2>
    Conversations
  </h2>
  <div class="conversation" *ngFor="let conversation of conversationsArray">
    <app-conversation [conversation]="conversation" [userLogged]="user"></app-conversation>
    <div class="hr" *ngIf="conversation !== conversationsArray[conversationsArray.length - 1]">
      <hr />
    </div>
  </div>
  <a class="btn-floating btn-large waves-effect waves-light red" (click)="cancelConversationForm()"><i class="material-icons">add</i></a>
</div>
<div class="modal-conv" *ngIf="conversationForm">
  <app-modal-new-conversation
  (cancelConversation)="cancelConversationForm($event)"
  [otherUsers]="otherUsers"
  [userCo]="user"
  (newConversation)="onNewConversation($event)"
  ></app-modal-new-conversation>
</div>
